.nav {
    height: 10%;
    background: #322957;
    color: white;
    box-shadow: 1px 1px 3px #949090;
    .web_title{
        font-weight: bold;
        font-size: 30px;
        display: inline-block;
        width: 30%;
        padding-left: 14px;
        cursor: pointer;
    }
    .image{
        width: 10%;
    }
    .menu {
        font-size  : 14px;
        font-family: "Roboto", sans-serif;
        width      : 57%;
        display    : inline-block;
        font-weight: 600;
        text-align : right;

        span {
            margin-left: 50px;
            padding    : 10px 15px;
            cursor     : pointer;
            display    : inline-block;

            &:hover {
                transform: translateY(-3px);
            }
        }

        .selected {
            //background-color   : #4358EA;
            // background-color: #E13629;
            color: #20f6bb;
        }
        .image {
            width       : 13%;
            padding-left: 5%;
            height      : auto;
            display     : inline-block;
            
        }
    }
    .log{
        display: inline-block;
        margin-left: 6%;
        width: 7%;
        button{
            background-color: #E13629 ;
            border-color: #E13629;
            font-family: "Roboto", sans-serif;
            &:hover {
                transform: translateY(-3px);
            }
        }
    }

}

@keyframes Updown {
    from {
        transform: translate(0, 0)
    }

    to {
        transform: translate(0, 6px)
    }
}