.home{
    height: 100%;
}
.home_page{

.home_first{
    width: 100%;
    height: 500px !important ;
    
background-image: url(../../static/img/home/bg_web.jpg); 
    .title{
        color: white;
        font-size: 26px;
        padding: 70px 0px 0px 10%;
        line-height: 75px;
       
    }
}
    .member{
    padding: 20px 10%;
    font-size: 20px;
    line-height: 60px;

    .title{
        font-weight: bold;
    }
    .item{
        font-size: 18px;
        padding-left: 3%;
        .title{
            font-weight: bold;
        }
        .item_avatar{
            display: inline-block;
            text-align: center;
            margin: 0 30px;

            span{
                display: block;
                line-height: 22px;
                font-size: 14px;
            }
        }
    }
    }
    .recommend{
        padding: 0px 10%;
        font-size: 20px;
        line-height: 60px;
        font-weight: bold;
        .cardlist{
            padding-left: 2%;
        }
    }
}